<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jesse O'Brien</title>
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>

    <section class="container">
        <div class="me-box">
            <img src="/assets/img/jesse.jpg" class="avatar" alt="">
            <h1 class="name">Jesse O'Brien</h1>
            <div class="four">
                <a href="http://github.com/jesseobrien">github</a>
            </div>
            <div class="four">
                <a href="http://twitter.com/jesseobrien_">twitter</a>
            </div>
            <div class="four end">
                <a href="http://ca.linkedin.com/in/jesseoobrien">linkedin</a>
            </div>
            <div class="twelve">
                <p class="writeup">I'm a Software Developer by trade and by passion. I mainly work on web applications in PHP, but I have experience in many different languages. I'm interested in things like Golang, Space Flight, Woodworking, Science, History and Philosophy. You can get in touch with me via the links above, or by email at jesse at jesse-obrien dot ca.</p>
            </div>
        </div>
    </section>

</body>
</html>
